@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-base text-text font-sans antialiased selection:bg-rosewater selection:text-base;
    font-family: 'Inter', sans-serif;
  }
}
